<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <style>

        .mdl-layout__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction : column;
            text-align : center;
        }


    </style>
</head>
<body>

<div layout:fragment="content">
    <h2>Help</h2>
    <p>In order to connect your FTP client to Google Drive please follow these steps:</p>
    <div style="text-align: left">
        <ul>
            <li>Register to https://ftpdrive.andresoviedo.org/</li>
            <li>Authorize access to google-drive</li>
            <li>Create an FTP user</li>
            <li>Open your FTP client and connect to host "ftpdrive.andresoviedo.org" and port "50000"</li>
            <li>Enjoy :)</li>
        </ul>
    </div>
    <p>If you have further questions send an email to ftpdrive@andresoviedo.org</p>
</div>
</body>
</html>